<li class="movie-item" data-id="${}">
  <article class="movie article">
    <div class="movie-card-thumb">
      <img
        src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
        alt="alt-text"
      />

      <img src="./images/empty.jpg" alt="alt-text" />
    </div>
    <div class="movie-content">
      <h3 class="movie-title">Avatar</h3>
      <p class="movie-genre">Drama, Action | 2023</p>
    </div>
  </article>
</li>

<article class="modal-article">
  <div class="modal-poster-wrap">
    <img
      class="modal-poster-img"
      src="./images/test-image.jpg"
      alt="alt-text"
    />
  </div>

  <div class="modal-movie-description">
    <h2 class="modal-movie-title">A FISTFUL OF LEAD</h2>
    <ul class="modal-movie-descrn-list">
      <li class="modal-movie-descrp-item">
        <p class="descrp-title">Vote / Votes</p>
        <p class="descrp-text">
          <span>7.3</span> <span>/</span> <span>1260</span>
        </p>
      </li>
      <li class="modal-movie-descrp-item">
        <p class="descrp-title">Popularity</p>
        <p class="descrp-text">100.2</p>
      </li>
      <li class="modal-movie-descrp-item">
        <p class="descrp-title">Original Title</p>
        <p class="descrp-text">A FISTFUL OF LEAD</p>
      </li>
      <li class="modal-movie-descrp-item">
        <p class="descrp-title">Genre</p>
        <p class="descrp-text">Western</p>
      </li>
    </ul>

    <p class="modal-movie-about-title">About</p>
    <p class="modal-movie-about-text">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>

    <div class="modal-btn">
      <button class="btn btn-watched" type="button">add to Watched</button>
      <button class="btn btn-queue" type="button">add to Queue</button>
    </div>
  </div>
</article>
