.btn {
  max-width: 150px;

  color: var(--color-black);
  background-color: var(--color-white);

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;

  border: solid 1px var(--color-black);
  border-radius: 100px;
  &:hover {
    transform: scale(1.03);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-home {
  padding: 10px 26px;

  @include tablet {
    padding: 12px 24px;
  }

  @include desktop {
    padding: 14px 32px;
  }
}

.btn-mylibrary {
  padding: 10px 22px;

  @include tablet {
    padding: 12px 20px;
  }

  @include desktop {
    padding: 14px 24px;
  }
}

.btn-wrap {
  margin-bottom: 24px;

  @include tablet {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @include desktop {
    right: 32px;
  }
}

.btn-watched {
  // margin: 0;
  padding: 10px 23px;
  margin-right: 4px;

  @include tablet {
    margin-right: 8px;
  }
}

.btn-queue {
  margin: 0;
  padding: 10px 24px;
}

.btn-load-more {
  display: block;
  min-width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 12px 23px;
}

.modal-btn {
  margin-top: 20px;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 64px;
  }
}

.btn-add-to {
  padding-left: 0;
  padding-right: 0;
  min-width: 160px;
}

.btn-active {
  border: none;
  background-color: #b92f2c;
  color: var(--color-white);
}

.btn-black {
  color: var(--color-white);
  background-color: var(--color-black);
}
