body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.stop-scroll {
  overflow: hidden;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animation), visibility var(--animation);
}

.modal {
  position: relative;

  max-width: 380px;
  width: calc(100% - 20px);
  height: calc(100% - 120px);

  padding: 30px 20px;
  border-radius: 5px;
  overflow: auto;
  background-color: var(--color-white);

  transform: scale(0.98);
  transition: transform var(--animation);

  @include tablet {
    max-width: none;
    width: 704px;
    height: fit-content;
  }

  @include desktop {
    min-width: 806px;
  }
}

.btn-modal-close {
  display: flex;
  position: absolute;
  // top: 8px;
  top: 4px;
  right: 8px;
  z-index: 1;

  // margin-left: auto;

  border: none;
  stroke: var(--color-black);
  background-color: transparent;
  transform: scale(1);

  &:hover,
  :focus {
    stroke: var(--color-accent);
    transform: scale(1.1);
    transition: transform var(--animation);
  }
}

.modal-article {
  @include tablet {
    display: flex;
    gap: 40px;
  }

  @include desktop {
    gap: 28px;
  }
}

.modal-poster-wrap {
  margin-bottom: 20px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    min-width: 284px;
    margin-bottom: 0;
  }

  @include desktop {
    min-width: 375px;
  }
}

.modal-poster-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.modal-movie-description {
  position: relative;
  margin-bottom: 20px;

  line-height: calc(16 / 12);
  color: var(--color-black);

  @include tablet {
    margin-bottom: 0;
  }
}

.modal-movie-title {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-transform: uppercase;

  color: var(--color-black);

  @include desktop {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

.modal-movie-descrn-list {
  margin-bottom: 20px;
}

.modal-movie-descrp-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.descrp-title,
.descrp-text :nth-child(2) {
  min-width: 108px;
  color: var(--color-gray);
}

.descrp-text :first-child {
  padding: 1px 10px;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.modal-movie-about-title {
  margin-bottom: 8px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
}

.modal-movie-about-text {
  line-height: calc(24 / 16);
}
